#navdiv {
  width: 600px;
  position: fixed;
  right: 98px;
  font-family: 'Open Sans';
}
#navbar {
  list-style: none;
  display: flex;
  justify-content: space-between;
  text-align: right;
}
a {
  text-decoration: none;
  color: white;
}

#clickable {
  background: rgba(255, 255, 255, 0.14);
  color: white;
  font-size: 20px;
  width: 120px;
  height: 50px;
  border-radius: 50px;
  text-align: center;
  transition: 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: -32px;
  margin-left: 50px;
}

#clickable:hover {
  background: rgba(255, 255, 255, 0.26);
}
