.home {
  opacity: 0;
  animation: fadein 1s forwards;
  -moz-animation: fadein 1s forwards; /* Firefox */
  -webkit-animation: fadein 1s forwards; /* Safari and Chrome */
  -o-animation: fadein 1s forwards; /* Opera */
  animation-delay: 0.5s;
  -moz-animation-delay: 0.5s;
  -webkit-animation-delay: 0.5s;
  -o-animation-delay: 0.5s;
}
.about {
  opacity: 0;
  animation: fadein 1s forwards;
  -moz-animation: fadein 1s forwards; /* Firefox */
  -webkit-animation: fadein 1s forwards; /* Safari and Chrome */
  -o-animation: fadein 1s forwards; /* Opera */
  animation-delay: 1s;
  -moz-animation-delay: 1s;
  -webkit-animation-delay: 1s;
  -o-animation-delay: 1s;
}
.team {
  opacity: 0;
  animation: fadein 1s forwards;
  -moz-animation: fadein 1s forwards; /* Firefox */
  -webkit-animation: fadein 1s forwards; /* Safari and Chrome */
  -o-animation: fadein 1s forwards; /* Opera */
  animation-delay: 1.5s;
  -moz-animation-delay: 1.5s;
  -webkit-animation-delay: 1.5s;
  -o-animation-delay: 1.5s;
}
.work {
  opacity: 0;
  animation: fadein 1s forwards;
  -moz-animation: fadein 1s forwards; /* Firefox */
  -webkit-animation: fadein 1s forwards; /* Safari and Chrome */
  -o-animation: fadein 1s forwards; /* Opera */
  animation-delay: 2s;
  -moz-animation-delay: 2s;
  -webkit-animation-delay: 2s;
  -o-animation-delay: 2s;
}

#navdiv {
  width: 600px;
  position: fixed;
  right: 98px;
  font-family: 'Open Sans';
}
#navbar {
  list-style: none;
  display: flex;
  justify-content: space-between;
  text-align: right;
}
a {
  text-decoration: none;
  color: white;
}

#clickable {
  background: rgba(255, 255, 255, 0.14);
  color: white;
  font-size: 20px;
  width: 120px;
  height: 50px;
  border-radius: 50px;
  text-align: center;
  transition: 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: -32px;
  margin-left: 50px;
}

#clickable:hover {
  background: rgba(255, 255, 255, 0.26);
}
