.container {
  width: 100vw;
  height: 80vh;
  position: absolute;
  bottom: 0;
}
.aboutBlock {
  width: 100vw;
  height: 130vh;
  position: absolute;
  top: 0;
}
.aboutBlock2 {
  width: 100vw;
  height: 35vw;
  position: absolute;
  bottom: 0;
  background: white;
  border-top-right-radius: 100px 80px;
  border-top-left-radius: 100px 80px;
}
.acontent {
  margin-left: 100px;
  color: rgb(54, 54, 54);
}
.whoare {
  margin-top: 50px;
  font-family: sans-serif;
  font-size: 40px;
}
.whoare:after {
  content: ''; /* This is necessary for the pseudo element to work. */
  display: block; /* This will put the pseudo element on its own line. */
  width: 30%; /* Change this to whatever width you want. */
  padding-top: 20px; /* This creates some space between the element and the border. */
  border-bottom: 1px solid rgb(126, 126, 126); /* This creates the border. Replace black with whatever color you want. */
}
.text {
  margin-right: 100px;
  font-family: sans-serif;
  font-size: 28px;
}
